@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #79685b;
}
section{
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.card{
    background-color: transparent;
    width: 100%; 
}
.card:hover, .image:hover{
    transform: scale(1.1);
    transition: 4s;
}
.nav-link:active,
.nav-link:hover,
.nav-link:focus {
    background-color: #1b120c;
    color: #fff8ef !important;
    border-radius: 5px;
}
h1{
font-weight: 400;
color: #1b120c;
font-size: 60px;

}
.image{
    width: 300px;
    height: 300px;
}
.card-img-top{
    background-color: #f9f0ec;
}
body{
    background-color: #d9c8c0;
}
.div-parent, .navbar{
    background-color: #fff8ef;
}
.nav-link{
    color: #79685b;

}
.btn{
    height: 40px;
   padding: 5px 22px;
    background-color: #eae0d6;
    color: #fff8ef;
}
.btn:hover{
    background-color: #1b120c;
    color: #fff;
}
.btn1 {
    background-color: #1b120c;
    color: #fff8ef;
    height: auto;
    width: 40%;
}
.btn1:hover{
    background-color: #99897a;
    color: #554b44;
}
.photo{
    position: absolute;
    bottom: 30px;
    right: 70%;
    z-index: 10;
    height: 180px;
   width: 280px;
   max-width: 1000px;
}
.photo1{
    width: 90%;
    height: 500px;
}
.coleur, #contact{
    background-color: #fbefe4;
}
.culeur, .btn2{
    background-color: #413932;
}
.culeur h1{
    color: #f7efeb;
}